     @import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@1,700&display=swap');
     @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
     * {
         margin: 0;
         padding: 0;
     }
     
     li {
         list-style: none;
     }
     
     a {
         text-decoration: none;
         color: inherit;
     }
     
     body {
         max-width: 100%;
         background-image: url(../img/love.jpg);
         background-repeat: no-repeat;
         background-size: cover;
     }
     
     .container {
         max-width: 1200px;
         margin: 0 auto;
     }
     
     .header {
         &__inner {
             margin-top: 40px;
             text-align: center;
             h1 {
                 color: #FF4848;
                 font-family: 'PT Serif', serif;
                 font-size: 40px;
             }
             span {
                 color: #2C394B;
                 font-size: 35px;
             }
             p {
                 margin-top: 30px;
                 font-size: 20px;
             }
         }
     }
     
     .calculator {
         &__inner {
             margin-top: 60px;
             h2 {
                 text-align: center;
             }
             form {
                 text-align: center;
                 align-items: center;
                 margin-top: 40px;
                 img {
                     width: 35px;
                     margin-top: 5px;
                 }
                 input {
                     width: 250px;
                     height: 30px;
                     outline: none;
                     padding: 5px;
                     border-radius: 5px;
                 }
             }
         }
         div {
             text-align: center;
             margin-top: 70px;
         }
         &__button {
             width: 200px;
             cursor: pointer;
             border: 0;
             line-height: 2.5;
             padding: 0 20px;
             font-size: 1rem;
             color: #fff;
             text-shadow: 1px 1px 1px #000;
             border-radius: 10px;
             background-color: rgba(220, 0, 0, 1);
             background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
             box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
             &:hover {
                 background-color: rgba(255, 0, 0, 1);
             }
             &:active {
                 box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
             }
         }
     }
     
     .footer {
         margin-top: 150px;
         height: 50px;
         background-color: #e42940;
         &__inner {
             text-align: center;
             p {
                 padding-top: 14px;
                 color: white;
                 font-family: 'Roboto', sans-serif;
             }
         }
     }